/*
 * Imports
 */
@import 'utils/variables';
@import 'utils/reset';
@import 'utils/flex';

@import 'atoms/alerts';
@import 'atoms/buttons';
@import 'atoms/fonts';
@import 'atoms/icons';
@import 'atoms/logo';
@import 'atoms/display';
@import 'atoms/separator';
@import 'atoms/spinner';
@import 'atoms/headings';
@import 'atoms/links';

@import 'molecules/menu';
@import 'molecules/search';
@import 'molecules/sorting';
@import 'molecules/form';
@import 'molecules/comment';
@import 'molecules/gallery-image';

@import 'organisms/banner';
@import 'organisms/post';
@import 'organisms/comments';
@import 'organisms/respond-form';
@import 'organisms/gallery';
@import 'organisms/footer';

@import 'templates/default-layout';
@import 'templates/single-image-page';

// Media queries
@import 'utils/media-queries'; // TODO: Spread across affected modules

/* Preload banner */
body:after{
	display:none;
	content: image-url('banner.jpg');
}

/* General styling */
body {
	text-align: left;
	line-height: 1.5em;
	font-size: 100%;
	font-family: 'Noto Sans', sans-serif, Arial, Verdana, Helvetica, 'Times New Roman';
	background: white;
	color: black;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	position: relative;
}

button, input, select, textarea {
	font-family: 'Noto Sans', sans-serif;
}

img {
	vertical-align: middle;
}

/*
===============
   Misc
===============
*/

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: black;
	padding: 0.2em 0;
	position: absolute;
	top: 0;
	display: block;
	z-index: 9999;
}

/* Supports not 
@supports not (flex-wrap: wrap) {
	.gallery-section {
		display: block;
	}

	.image-block {
		min-width: 8em;
	}
}
*/