/**
 * Headings
 */
h1, h2, h3 {
	font-family: 'Oswald', 'Noto-sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.centered-header {
	text-align: center;
}

.h3 {
	margin-top: 3em;
	font-weight: 400;
}
