/**
 * Spinner
 */
.btn.load-more {
	padding: 0;
	width: 13em;
	height: 3.6em;
}

.spinner.hidden + .btn-text {
	display: block;
}

.loading {
	margin: 0 auto;
	display: block;
	border-width: 2px;
	border-style: solid;
	border: 2px solid #fff;
	border-top-color: rgba(0,0,0,0.3);
	border-right-color: rgba(0,0,0,0.3);
	border-radius: 100%;
	height: 20px;
	width: 20px;
	-webkit-animation: spin .8s infinite linear;
	-moz-animation: spin .8s infinite linear;
	-ms-animation: spin .8s infinite linear;
	-o-animation: spin .8s infinite linear;
	animation: spin .8s infinite linear;
}

@keyframes "spin" {
 from {
    -webkit-transform: rotate(0deg);
   	-moz-transform: rotate(0deg);
   	-o-transform: rotate(0deg);
   	-ms-transform: rotate(0deg);
   	transform: rotate(0deg);
 }
 to {
    -webkit-transform: rotate(359deg);
   	-moz-transform: rotate(359deg);
   	-o-transform: rotate(359deg);
   	-ms-transform: rotate(359deg);
   	transform: rotate(359deg);
 }

}

@-moz-keyframes spin {
 from {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -moz-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-webkit-keyframes "spin" {
 from {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-ms-keyframes "spin" {
 from {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-o-keyframes "spin" {
 from {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -o-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}