/**
 * Default layout
 */
.wrapper {
	z-index: 20; // Required for mobile menu to work
	position: relative; // Required for mobile menu to work
}

.main {
	padding: 0 1.2em 6em 1.2em;
	background-color: white;
	//float: left;
	color: #444444;
	width: 100%;
}

.main-content {
	font-size: 1em;
	line-height: 1.6em;
	
	.section {
		width: 100%;
		float: left;
		position: relative;
	}

	.section:last-child {
		margin-bottom: 8em;
	}
	
	.section p {
		margin-bottom: 2em;
	}

	blockquote {
		border-left: 4px solid $base-color;
		padding-left: 1em;
		font-style: italic;
		font-family: 'Inika', sans;
	}
}

.full-inner {
	margin: 0 auto 3em auto;
	width: 100%;
}

.centered-inner {
	@extend .full-inner;
	max-width: 45em;
}