/*
===============
   BANNER
===============
*/
.banner-img {
	background-image: image-url('banner.jpg');
	background-position: center bottom;
	height: 30em;
	width: 100%;
	position: absolute;
	z-index: 5;
	bottom: 0;
}

.banner-inner-container {
	background-color: rgba(161, 41, 23, 0.80);
	text-align: center;
	color: white;
	display: inline-block;
	width: 100%;
	height: 30em;
	position: relative;
	z-index: 10;
}

.banner .logo {
	font-size: 2em;
	letter-spacing: 0.05em;
}


.banner-inner-container .inner {
	height: inherit;
}

/* Search */
.banner .search-field-container {
	display: none;
}