/**
 * Form
 */

/* Base */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

/* Custom */
.submit-container {
	text-align: center;
}

.submit-container .btn-submit {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

