/**
 * Search
 */
.search-field-container {
	padding: 0.8em 0 0.8em 1em;
	border-bottom: 1px dashed #777;
}

.search-field {
	border: 0;
	color: #fff;
	background: none;
	width: 85%;
	font-size: 0.9em;
	font-weight: 100;
}

.search-btn {
	border: 0;
}
